/* ==== Body Styles ==== */
body {
    background-color: #C2B280;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100%;
}
/* ==== Main Row Class Styles ==== */
.mainRow {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 40px auto;
    text-align: center;
}

/* ==== Header Styles ==== */
#header {
    background-image: url(../images/safari.png);
    background-color: #000;
    height: 100px;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}
#header h1, #header div {
    display: inline-block;
    margin: auto;
}

#header h1 {
    width: 75%;
    font-size: 3em;
    color: #fff;
    text-shadow: 3px 2px #000;
}
/* ==== Total Credits Styles ==== */
#header div {
    width: 23%;
    font-size: 1.7em;
    text-align: right;
    background: rgba(255, 250, 255, 0.9);
}

/* ==== Spinner Styles ==== */
#slot-spinners {
    width: 75%;
    background-color: #C2B280;
}
.spinner {
    width: 32%;
    display: inline-block;
    margin: auto;
    background-image: url(../images/baby-giraffe.png);
    background-color: #fff;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid #000;
}

/* ==== Bet Row Styles ==== */
#betRow div {
    display: inline-block;
    margin: auto;
    width: 32%;
}

#betRow div .bets {
    width: 47%;
    text-align: center;
    background-color: gray;
    border: 2px solid #000;
    margin: 1px;
    padding: 10px 0px;
    min-height: 20px;
    color: #fff;
}

#betRow div .bets:hover,
#betRow div .bets:focus {
    cursor: pointer;
}

#betRow div .active-bet {
    background-color: #E0D334;
    color: #000;
}

/* ==== Spin Button Styles ==== */
#spin button {
    margin: 5px;
    background-color: #9ED47E;
    font-size: 3em;
    padding: 15px;
    border-radius: 10px;
}

#spinBtn:hover,
#spinBtn:focus {
    cursor: pointer;
}

/* ==== Results Area Styles ==== */
#results {
    background-color: #fff;
    border: 2px solid #000;
    height: 75px;
    padding-top: 20px;
    font-size: 1.2em;
}

/* ==== Out Row Styles ==== */
#outRow {
    background-color: #dbd1b4;
}

#outRow div {
    display: inline-block;
    margin: auto;
}

/* ==== Cash Out Styles ==== */
#outRow #cashOut {
    margin-left: 20px;
}

#cashOut {
    background-color: #999;
    font-size: 1.9em;
    border: 2px solid #000;
    padding: 3px;
}

#cashOut:hover,
#cashOut:focus {
    cursor: pointer;
}

/* ==== Cash Out Modal Styles */
#cashOutModal {
    display: none;
    position: absolute;
    top: 20%;
    left: 12%;
    width: 75%;
    text-align: center;
    color: #fff;
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 2.5px 3px #000;
}

#payoutSchedule img {
    width: 80%;
}

/* ==== Game Over Styles ==== */
#gameOver {
    width: 90%;
    font-size: 6em;
}

/* ==== Tablets and Mobile Devices Styles === */ 

@media only screen and (max-width: 954px) {
    #header h1 {
        font-size: 2.3em;
    }

    #header div {
        font-size: 1.2em;
        background-color: #fff;
        color: #000;
        text-shadow: 1.2px 1.2px #808080;
    }

    .spinner {
        margin: 0px 8px;
    }

    #betRow, #outRow {
        margin-top: 50px;
    }

    #betRow div .bets {
        width: 37%;
    }

    #spin button {
        font-size: 2em;
    }

    #cashOut {
        font-size: 1.4em;
    }
}

